<div>
    <mat-tab-group class="tab-group">
        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon>
                    <span class="material-icons-outlined">
                        person_outline
                    </span>
                </mat-icon>
                Ügyfél adatai
            </ng-template>
            <div class="content">
                <app-customer-details></app-customer-details>
            </div>
        </mat-tab>

        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon>
                    <span class="material-icons-outlined">
                        directions_car
                    </span>
                </mat-icon>
                Jármű adatai
            </ng-template>
            <div class="content">

            </div>
        </mat-tab>

    </mat-tab-group>
</div>