<mat-toolbar class="toolbar-container"
             color="accent">
    <div>
        <img src="../../../../assets/170313-ŠKODA-Logo-1195x1440.jpg"
             class="logo">
    </div>
    <div>
        <button mat-icon-button
                routerLinkActive="active"
                class="main-menu-button"
                area-label="New car page">
            <mat-icon>
                <span class="material-icons-outlined">
                    menu
                </span>
            </mat-icon>
        </button>
    </div>
    <div class="main-menu-container">
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="new-car-button"
                    area-label="New car page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        admin_panel_settings
                    </span>
                </mat-icon>
                ADMIN
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="new-car-button"
                    area-label="New car page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        drive_eta
                    </span>
                </mat-icon>
                NEW CAR
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="used-car-button"
                    area-label="Used car page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        no_crash
                    </span>
                </mat-icon>
                USED CAR
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="rent-button"
                    area-label="Renting page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        car_rental
                    </span>
                </mat-icon>
                CAR RENTAL
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="repair-button"
                    area-label="Service page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        build
                    </span>
                </mat-icon>
                CAR REPAIR
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="parts-button"
                    area-label="Warehouse page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        warehouse
                    </span>
                </mat-icon>
                PARTS
            </button>
        </div>
        <div>
            <button mat-button
                    routerLinkActive="active"
                    class="service-button"
                    area-label="Service page">
                <mat-icon>
                    <span class="material-icons-outlined">
                        support_agent
                    </span>
                </mat-icon>
                SERVICE
            </button>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="right-menu-container">
        <button mat-icon-button
                routerLinkActive="active"
                class="settings-button"
                area-label="Settings page">
            <mat-icon>
                <span class="material-icons-outlined">
                    settings
                </span>
            </mat-icon>
        </button>
        <button mat-icon-button
                routerLinkActive="active"
                class="login-button"
                area-label="Login">
            <mat-icon>
                <span class="material-icons-outlined">
                    login
                </span>
            </mat-icon>
        </button>
        <button mat-icon-button
                routerLinkActive="active"
                class="logout-button"
                area-label="Logout">
            <mat-icon>
                <span class="material-icons-outlined">
                    logout
                </span>
            </mat-icon>
        </button>
        <button mat-icon-button
                routerLinkActive="active"
                class="account-button"
                area-label="Account page">
            <mat-icon>
                <span class="material-icons-outlined">
                    account_circle
                </span>
            </mat-icon>
        </button>
    </div>
</mat-toolbar>